 
  h1 {
    margin: 0 0 20px 0;
    text-transform: uppercase;
  }
   
  .add {
    margin: 20px auto 0;
    display: block;
  }
  
  table {
    width: 100%;

    mat-card {
        width: 100%;
        margin: 10px;
    }
  
  }
  
  tr {
    &.currency-detail-row {
      height: 0;
    }
  
    &.currency-row:not(.example-expanded-row) {
      &:hover {
        background: orange;
        cursor: pointer;
      }
  
      &:active {
        background: orange;
      }
    }
  }
  
  .currency-row td {
    border-bottom-width: 0;
  }
  
  .currency-detail {
    overflow: hidden;
    display: flex;
  }
  