<nav class="mdc-list mdc-list--icon-list">
    <NavLink class="mdc-list-item" href="/" ActiveClass="mdc-list-item--activated">
        <span class="mdc-list-item__ripple"></span>
        <MatIcon Icon="home" />
        <span class="mdc-list-item__text">Home</span>
    </NavLink>
    <NavLink class="mdc-list-item" href="https://github.com/material-components/material-components-web"
             ActiveClass="mdc-list-item--activated" target="_blank">
        <span class="mdc-list-item__ripple"></span>
        <MatIcon Icon="extension" />
        <span class="mdc-list-item__text">MDC Components</span>
    </NavLink>
    <NavLink class="mdc-list-item" href="https://www.matblazor.com/"
             ActiveClass="mdc-list-item--activated" target="_blank">
        <span class="mdc-list-item__ripple"></span>
        <MatIcon Icon="extension" />
        <span class="mdc-list-item__text">MatBlazor</span>
    </NavLink>
</nav>

@code {

}
