@namespace MatBlazor
@inherits BaseMatNavMenu

<CascadingValue Value="@this">
    <nav class="@ClassMapper.AsString()" style="@StyleMapper.AsString()" @ref="Ref"  @attributes="Attributes" Id="@Id">
        <ul class="nav-menu">
            @ChildContent
        </ul>
    </nav>
</CascadingValue>